<div class="editor-row">
  <div class="section gf-form-group">
    <h5 class="section-heading">Value</h5>

    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label width-6">Value</label>
        <div class="gf-form-select-wrapper width-12">
          <select class="gf-form-input" ng-model="ctrl.panel.valueColumn" ng-options="f for f in ctrl.tableColumnOptions" ng-change="ctrl.refresh()"></select>
        </div>
        <label class="gf-form-label width-6">Font size</label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input" ng-model="ctrl.panel.valueFontSize" ng-options="f for f in ctrl.fontSizes" ng-change="ctrl.render()"></select>
        </div>
      </div>
    </div>
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label width-6">Prefix</label>
        <div class="gf-form-select-wrapper width-12">
          <select class="gf-form-input" ng-model="ctrl.panel.prefixColumn" ng-options="f for f in ctrl.tableColumnOptions" ng-change="ctrl.refresh()"></select>
        </div>
        <label class="gf-form-label width-6">Font size</label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input" ng-model="ctrl.panel.prefixFontSize" ng-options="f for f in ctrl.fontSizes" ng-change="ctrl.render()"></select>
        </div>
      </div>
    </div>
    <div class="gf-form-inline">
      <div class="gf-form">
        <label class="gf-form-label width-6">Postfix</label>
        <div class="gf-form-select-wrapper width-12">
          <select class="gf-form-input" ng-model="ctrl.panel.postfixColumn" ng-options="f for f in ctrl.tableColumnOptions" ng-change="ctrl.refresh()"></select>
        </div>
        <label class="gf-form-label width-6">Font size</label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input" ng-model="ctrl.panel.postfixFontSize" ng-options="f for f in ctrl.fontSizes" ng-change="ctrl.render()"></select>
        </div>
      </div>
    </div>
  </div>
</div>